body {
    background-color: #ffffff;
}
.main {
    display: grid;
    width: 100%;
    height: 100vh;
    align-content: center;
    justify-items: center;
    grid-gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
}

.item-1 {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
    background-color: #88d1f1;
    height: 230px;
    width: 50%;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
}

.item-2 {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
    background-color: #c3e8f8;
    height: 200px;
    width: 100%;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
}

.item-3 {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    background-color: #33525d;
    opacity: .95;
    height: 100%;
    width: 100%;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
}

.item-4 {
    grid-column: 4 / 6;
    grid-row: 1 / 3;
    background-color: transparent;
    opacity: .95;
    height: 100%;
    width: 100%;
    border: 1rem solid #558194;
    box-sizing: border-box;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
}
